

#modal {
	border: solid white;
  background: #ffe600;
  font-family: 'Lato', sans-serif;
  color: #000000;
  text-align: center;
  position: relative;
  display: flex;
  margin-right: 15px;
  /*margin-bottom: 20px;*/
}



#signup {
  width: 450px;
  margin: 17% auto;
  background: #ffe600;
}



.nl_header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.nl_description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;

}


.input {
  display: flex;
  align-items: center;
  margin: 0 10px;
}


.button {
  height: 44px;
  border: none;
}

  
#email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
  position: relative;
}


#submit {
  width: 25%;
  height: 46px;
	padding: 0;
	font-size: 16px;
  background: #e52e40;
  font-family: inherit;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#submit:hover {
  background: #e52e40;
}
  

input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}

.err{
  color:red;
  font:caption; 
}

.subscribe {
  background-color: #397ccd;
  color: white;
  
}

.close {
  position:absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

#btn-subscribe{

    cursor: pointer;
    background-color: #6ba4de;
    color: #ffffff;
    font-size: 15px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    height:50px;
    overflow-wrap: break-word;
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    margin: 0px 5px 5px 25px;
/*    padding: 10px 40px;*/
}


@media (max-width: 480px){
	#signup{width: 100%;}
	
	.nl_header{font-size: 25px;}
}


/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
  background-color: #e52e40;

}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
  height: 70px;
}
.col:first-child { 
  /*margin: 10px 10px 0 10px; */
}


/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { 
  width: 100%; 
}
.span_2_of_3 { 
  width: 66.13%; 

}
.span_1_of_3 { 
  width: 31.00%; 

}

#one{
  background-image: url("images/longs_now_cvs.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#two{
  text-align: center;
  color: white;
}

#three{
   text-align: center;
/*  background-color: #4;791d6
  cursor: pointer;
  color: white;
  border-color: white;*/
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 3% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
  #btn-subscribe{ margin: 0px 15px 15px 15px;}
}